<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head> 

<body>
    <% if(locals.userData) { %>
        <section>
            <p>Hola <%= userData.name %>, elegiste el color <%= userData.color %>, tu email es: <%= userData.email %> <% userData.age !== "" && `y tu edad es ${userData.age}`%></p>
        </section>
    <% } %>
    <form action= "" method = "post">
        <div>
            <label for="name">Ingrese su nombre *</label>
            <input type="text" name="name" id="name">
            <% if (locals.errors && errors.name) { %>
                <small class="text-danger"><%= errors.name.msg %></small>
            <% } %>
        </div>
        <div>
            <select name="color">
                <option value="red">Rojo</option>
                <option value="blue">Azul</option>
                <option value="green">Verde</option>
                <option value="yellow">Amarillo</option>
            </select>
            <% if(locals.errors && errors.color) { %> 
                <small class="text-danger"><%= errors.color.msg %></small>
            <% } %> 
        </div>
        <div>
            <label for="email">Ingrese su mail: *</label>
            <input type="email" name="email" id="email">
            <% if (locals.errors && errors.email) { %>
                <small class="text-danger"><%= errors.email.msg %></small>
            <% } %>
        </div>
        <div>
            <label for="edad">Ingrese su edad: *</label>
            <input type="text" name="age" id="age">
            <% if (locals.errors && errors.age) { %>
                <small class="text-danger"><%= errors.age.msg%></small>
            <% } %>
        </div>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>